# Объектные файлы
*.o

# Бинарные исполняемые файлы
myRPC-client
myRPC-server

# Статические библиотеки
*.a

# DEB-пакеты
*.deb

# Временные папки сборки
pkg/
build/

# Резервные и временные файлы редакторов
*~
.#*
*.swp
*.swo

# Архивы
*.tar.gz

# Логи
*.log

# Конфигурация среды разработки
.vscode/
.idea/

# Файлы, создаваемые make clean
*.out
